/**
 * @name NAME
 * @author AUTHOR
 * @version VERSION
 * @description DESCRIPTION
 * @source SOURCE
 * @authorLink AULINK
*/

@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.theme.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");


:root {
  --background: url("https://so1ta.github.io/Images/USP.jpg");
  --font:                       "Inter";
  --transparencyalpha:          0.5;
  --transparencycolor:          0,0,0;
  --messagetransparency:        0;
  --guildchanneltransparency:   0;
  --chatinputtransparency:      0;
  --memberlisttransparency:     0;
  --accentcolor:                0,0,0,0.5;
}

.theme-dark {
  --text-normal:                #ffffff;
  --text-muted:                 #ffffff;
  --header-primary:             #ffffff;
  --channels-default:           #ffffff;
  --header-secondary:           #ffffff;
  --interactive-normal:         #ffffff;
  --interactive-hover:          #ffffff;
  --interactive-active:         #ffffff;
  --background-modifier-accent: #ffffff;
}
